<!-- <app-header titulo="Contáctame" subTitulo=""></app-header> -->

<div class="conainer d-flex align-items-center justify-content-center" style="min-height: 95vh;">

    <div class="container text-center p-3" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <img src="../../../../assets/profile.png" height="200px" alt="">
                <h4 class="mt-3">Ceysor Parrado</h4>
                <code>Desarrollador Web</code>
            </div>
        </div>
        <!-- <div class="mt-5">
            <cite>"Primero resuelve el problema. Entonces, escribe el código"</cite>
            <br>
            <strong><cite>- John Johnson</cite></strong>
        </div> -->
        <div class="row" style="margin-top: 20px;">
            <h1 class="display-5 text-redes">Redes sociales</h1>
            <!-- <p>Encuentramé en los siguientes medios</p> -->
        </div>
    <div class="row content d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-md-3" *ngFor="let red of redes">
            <div class="icono">
                <a id="btn" (click)="modal( red.enlace, red.nombre, red.icono )" ><i [class]="red.icono"></i></a>
                <br>
                <span> {{ red.nombre }} </span>
            </div>
        </div>
    </div>
</div>
</div>