@font-face {
    font-family: 'JetBrains';
    src: url(../../../../assets/JetBrainsMono-SemiBold.ttf) format("truetype");
}

*{
    padding: 0;
}

.tarjeta {
    background-image: url(../../../../assets/paper.jpg);
    background-size: cover;
    opacity: 0.9;
    background-position: 100%;
    border-radius: 5px;
}

.tarjeta:hover {
    vertical-align: top;
    margin: 2em;
    transition: ease;
    transition-duration: 500ms;
    box-shadow: 20px 20px 100px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    
}

.tarjeta:not(hover){
    height: 200px;
    transition: ease;
    transition-duration: 500ms;
}

.fondo {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
}

h4:hover{
    font-size: 1.8em;
    transition: ease;
    transition-duration: 200ms;
}

h6 {
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3, h2, h1 {
    font-family: 'JetBrains';
    color: #d63384;
    text-shadow: 2px 2px 0px white;
}

p, a, h4 {
    font-family: 'JetBrains';
}

p {
    font-size: 1.3em;
}

.circle {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 999px 999px 999px 999px;
    height: 220px;
    width: 220px;
    box-shadow: 20px 20px 50px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.circle:hover {
    transition: ease;
    transition-duration: 200ms;
    box-shadow: 20px 20px 100px 0px rgba(0,0,0,0.3);
}

.habilidades {
    visibility: hidden;
    width: 220px;
    height: 220px;
    border-radius: 999px 999px 999px 999px;
    background-color: white;
    transition: ease;
    transition-duration: 500ms;
    /* background-color:rgba(255, 255, 255, 0.76); */
    
    /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322); */
}

.items {
    padding-top: 15em;
    visibility: hidden;
}
         
.myButton {
    width: 200px;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #f771d1 100%);
    font-family:'JetBrains';
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
              
    border-radius: 42px;
    border: none;
  }

  .myButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 20px 20px 100px 0px rgba(0,0,0,0.3);
  }

  @media only screen and (max-width: 770px) {
    .content {
        min-height: 1800px;
    }
  }
 