/* You can add global styles to this file, and also import other style files */
body {
    background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #f771d1 100%);

}

@media (max-width: 500px) { 
    body {
        background-image: linear-gradient( 135deg, #81FFEF 30%, #F067B4 10%);
    }
}
